<li class="{{role}} {{type}} {{affiliation}}"
    data-jid="{{jid}}"
    data-name="{{id}}"
    {[ if (role === "moderator") { ]}
       title="{{desc_moderator}}"
    {[ } ]}
    {[ if (role === "participant" && type !== "unavailable") { ]}
       title="{{desc_participant}}"
    {[ } ]}
    {[ if (role === "participant" && type === "unavailable") { ]}
       title="{{desc_unavailable}}"
    {[ } ]}
    {[ if (role === "visitor") { ]}
       title="{{desc_visitor}}"
    {[ } ]}
>
<button class="remove-member">X</button>
{{nick}}
</li>
